page-listas {
    .im1{
        
        background-image: url(../../assets/imgs/LogoMusic.png);
        
    }
    .c1{
        background-color: royalblue;
    }
    .c2{
        background: gray;
        
    }
    

}